* {
    margin: 0;
    padding: 0;
}

.div1 {
    background-image: url('../images/bg-banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    text-align: center;
}

.div2 {
    height: 600px;
    width: 100px;
    background-color: aqua;
}

.h1 {
    padding-top: 200px;
    color: #ffffff;
}