*{
    margin:0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}
.navbar{
    width: 100%;
    height:15vh ;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width: 120px;
    cursor: pointer;

}
nav{
    flex: 1;
    padding-left: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}
nav ul li a{
    text-decoration: none;
    color: rgb(61, 61, 131);

}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: rgb(54, 53, 53);
}
.content p{
    font-size: 20px;
    color: rgb(83, 82, 82);
}
.content{
    margin-left: 10%;
    margin-top: 10%;
    
}
.btn{
    display: inline-block;
    background: linear-gradient(45deg, #8291af, #363358);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(32, 0,90,23);

}
.feat-feature{
    height: 70%;
    position: absolute;
    bottom: 100px;
    right: 100px;
    


}


